
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #0290cc54;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
   
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #00c0ff;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .time {
    display: inline-block;
    margin: 0 3rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.winnerIcon {
    font-size: 60px;
    vertical-align:middle;
    display: inline-flex;
    line-height: 100px;
    height: 70px;
}

.playBtn {
    background-color: #02ccba;
    font-size: 14px;
    padding: 14px 40px;
    border-radius: 8px;
    color: white;
}

/* responsive
*/

@media screen and (max-width: 375px) {
    .score-panel {
        width: 250px;
        font-size: 11px;
    }

    .deck {
        width: 250px;
        min-height: 260px;
    }

    .deck .card {
        width: 40px;
        height: 40px;
    }

    .deck .card.show {
        font-size: 23px;
    }

    .deck .card.match {
        font-size: 25px;
    }

    .modal-content {
        width: 90%;
        font-size: 9px;
    }

    .starts {
        font-size: 7px;
    }
    
    .playBtn {
        font-size: 8px;
        padding: 5px 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
    .score-panel {
        width: 360px;
        font-size: 13px;
    }

    .score-panel .stars {
        margin: 0 2rem;
    }

    .score-panel .time {
        margin: 0 2rem;
    }

    .score-panel .restart {
        margin: 0 2rem;
    }

    .deck {
        width: 360px;
        min-height: 370px;
    }

    .deck .card {
        width: 70px;
        height: 70px;
    }

    .deck .card.show {
        font-size: 28px;
    }

    .deck .card.match {
        font-size: 28px;
    }

    .modal-content {
        width: 90%;
        font-size: 12px;
    }

    .starts {
        font-size: 20px;
    }
    
    .playBtn {
        font-size: 11px;
        padding: 5px 20px;
    }
}